<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tinklr Demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/1.0.4/css/grayscale.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- google logo font -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>

    <!-- toilet man icon -->
    <link rel="stylesheet" type="text/css" href="MyIcons/flaticon.css">

    <!-- Admin CSS -->
    <link rel="stylesheet" href="/css/logo.css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="margin:0px; padding:0px;" onload="load()">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <span class="t">t</span>inkl<i class="flaticon-toilet1"></i>r
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/bathrooms">View Bathrooms</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Bathroom Information Section -->
    <section id="search" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- Maybe we can put some info here about us or the purpose of Tinklr -->
                <h1>{{ marker.getName }}</h1>
                <h3>Address: {{ marker.getAddress }} (<small>{{ marker.getType }}</small>)</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Public</th>
                            <th>Unisex</th>
                            <th>Changing Table</th>
                            <th>Handicap</th>
                            <th>Key Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% if bathroom.getPublic == 1 %}
                                    <b>YES</b>
                                {% else %}
                                    <b>NO</b>
                                {%  endif %}
                            </td>
                            <td>
                                {% if bathroom.getUnisex == 1 %}
                                    <b>YES</b>
                                {% else %}
                                    <b>NO</b>
                                {%  endif %}
                            </td>
                            <td>
                                {% if bathroom.getChangingTable == 1 %}
                                    <b>YES</b>
                                {% else %}
                                    <b>NO</b>
                                {%  endif %}
                            </td>
                            <td>
                                {% if bathroom.getHandicap == 1 %}
                                    <b>YES</b>
                                {% else %}
                                    <b>NO</b>
                                {%  endif %}
                            </td>
                            <td>
                                {% if bathroom.getKey_required == 1 %}
                                    <b>YES</b>
                                {% else %}
                                    <b>NO</b>
                                {%  endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <!-- Bathroom Information Section -->
    <section id="search" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <!-- Maybe we can put some info here about us or the purpose of Tinklr -->
                <h1>Reviews</h1>
                <h5><a href="/add_review/{{ marker.getId }}">click to a review</a></h5>
                {% if reviews is not empty %}
                    {% for review in reviews %}
                        <hr><p>
                            {{review.getComment}}
                        </p>
                        <p>
                            Rating: {{ review.getRating }}
                        </p>
                    {% endfor %}
                {% else %}
                <h2>No reviews yet!</h2>
                {% endif %}
            </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <br/><br/><br/><br/><br/><br/>
            <p>Copyright &copy; Filipe Silvestre, Samantha Maturen, Alex Costa, Jeff Austin, Tyler Deem 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
